@font-face {
    font-family: "Fira Sans Regular";
    src: url("fonts/FiraSans-Regular.otf");
}

@font-face {
font-family: "Fira Sans Heavy";
src: url("fonts/FiraSans-Heavy.otf");
}

@font-face {
font-family: "Fira Sans HeavyItalic";
src: url("fonts/FiraSans-HeavyItalic.otf");
}

@font-face {
    font-family: "Precious";
    src: url("fonts/Precious.ttf") format("truetype");
}
  
/* 
The properties that we want every element to follow...
if the HTML file loads this CSS file in the first place.
*/
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-size: 100%;
    background-color: #2C2F33;
    color: white;
}

ul {
    list-style-type: none;
}

.flyingText_container {
    font-size: 0.8em;
    padding-top: 5vh;
}

.flyingText {
    position: absolute;
    padding-top: 2vh;
    animation-name: flyingText;
    animation-duration: 15s;
    opacity: 0;
}

@keyframes flyingText {
    0% {right: 10%; opacity: 1;}
    100% {right: 90%; opacity: 1;}
}

.title {
    text-align: center;
    padding-top: 10vh;
    font-size: 3em;
    font-family: "Precious";
}

@keyframes year {
    from {color: white; opacity: 0;}
    to {color: red; opacity: 1;}
}

@keyframes newYear {
    from {color: white; opacity: 0;}
    to {color: red; opacity: 1;}
}

.timer {
    text-align: center;
    padding-top: 3vh;
    font-size: 1em;
    font-family: "Fira Sans Regular";
}

.chatbox-container {
    border: 4px solid red;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 60px);
    left: 30px
}

.chatbox {
    overflow: auto;
    max-height: 30%;
    display: block;
}

.chatbox-controls {
    width: 100%;
    text-align: center;
}

.chatbox-control {
    display: inline-block;
    margin: 4px;
}

@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
}
@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: fixed;
    top: 4px;
    width: 100%;
    overflow: hidden;
    height: 20px;
    padding-left: 100%;
    box-sizing: content-box;
}
.ticker-wrap .ticker {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
}
